{% extends 'basemain.html' %}
{% load static  %}


{% block content %}


<div class="page-wrapper">

   
   

    <!--Page Header Start-->
    <section class="page-header" style="background-image: url('{{ post.image.cdn_url }}');">
        <br><br><br>
        <div class="container">
            <div class="page-header__inner">
                <h2>{{post.title}}</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="news.html">Back to Blogs</a></li>
                    <li><span></span></li>
                
                </ul>
            </div>
        </div>
    </section>
    <!--Page Header End-->

    <!--News Details Start-->
    <section class="news-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
       <div class="news-details__left">
                        <div class="news-details__img">
                            <img src="assets/images/blog/news-details-img-1.jpg" alt="">
                            <div class="news-details__date-box">
                                <p>{{post.date|date:"d M, Y"}}</p>
                            </div>
                        </div>
                        <div class="news-details__content">
                            
                            <ul class="list-unstyled news-details__meta">
                               
                                <li><a href="#"><i class="far fa-user-circle"></i> {{post.category.title}}</a></li>
                                <li><a href="#"><i class="far fa-user-circle"></i> Posted by {{post.user}}</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> Comments ({{ comment_count }})</a></li>                             </li>
                            </ul>
                            <h3 class="news-details__title">
{{  post.title}}                        
    </h3>
                           
                            {{post.content|safe}}
                        </div>
                        
                        <div class="author-one">
                            <div class="author-one__image">
                                
                            </div>
                            <div class="author-one__content"> 
                                <h3>  Author : <b> {{post.Author}}</b> </h3>
                            </div>
                        </div>

                        <div class="comments-area mb-60 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <h4 class="comments-title mb-40">Comments</h4>
                            {% if comments %}
                            <ul class="comments-list">
                                {% for comment in comments %}                                <li>
                                    <div class="comment">
                                        <div class="news-details__content">
                            
                                            <ul class="list-unstyled news-details__meta">
                                               
                                                <li><a href="#"><i class="far fa-user-circle"></i> {{comment.full_name|title}}</a></li>
                                              
                                                    <li><a href="#"><i class="far fa-eye"></i> {{comment.date|date:"d M, Y"}}</a>
                                                </li>
                                            </ul>
                                            <p>{{comment.comment|safe}}</p>
                                                                                </div>
                                    
                                    </div>
                                   
                                </li>
                                {% endfor %}
                               
                            </ul>
                            {% else %}
                            <div>
                                <h3>No Comments Yet</h3>
                            </div>
                            {% endif %}
                           
                        </div>
                        {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert {{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="comment-form">
                            <h3 class="comment-form__title">Leave a Comment</h3>

                          
                            <form class="comment-form" method="POST" action="{% url 'blogapp:blog-detail' post.pid %}" class="comment-one__form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="comment-form__input-box">
                                            <input type="text" class="form-control" placeholder="Enter Name" name="full_name" required>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="comment-form__input-box">
                                            <input type="email" class="form-control" placeholder="Email Address" name="email" required>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="comment-form__input-box">
                                            <textarea name="comment" class="form-control" rows="4" placeholder="Write Comments" required></textarea>
                                        </div>
                                        <button type="submit" class="thm-btn comment-form__btn">Submit Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                     
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="sidebar">
                       
                        <div class="sidebar__single sidebar__category">
                            <h3 class="sidebar__title">Categories</h3>
                            {% for category in categories %}
                            <ul class="sidebar__category-list list-unstyled">
                                <li><a href="#">{{ category.title }} <span class="fa fa-angle-right"></span></a></li>
                               
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   















</div>


{% include 'footer.html' %}
{% endblock %}
