{% load static %}

<!--Site Footer One Start-->
<footer class="site-footer" style="background-image: url({% static 'assets/images/backgrounds/site_footer_bg.jpg' %); " >
    <div class="container">
        <div class="site-footer__one-top">
            <div class="row">
                <div class="col-xl-9 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__logo">
                            <a href="index.html"><img src="{% static 'assets/images/resources/log.png' %}" alt="" style="width: 200px; height: auto;"></a>
                        </div>
                        {% if footer %}
       
                        <p class="welcome-one__text2">{{ footer.content | safe }}</p>
                        {% else %}
                        <p class="welcome-one__text2">Update Footer content in the Admin Edit Profile Section</p>
                    {% endif %}                      
                      <div class="site-footer__social">
                            <a href="https://twitter.com/kefegod" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="clr-fb"><i class="fab fa-facebook-square"></i></a>
                            <a href="https://www.instagram.com/livegreatfoundation/"  target="_blank" class="clr-ins"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
              
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__contact">
                        <h3 class="footer-widget__title">Contact</h3>
                        <ul class="list-unstyled footer-widget__contact-list">
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone-square-alt"></i>
                                </div>
                                <div class="text">
                                    <p><a href="tel:+447498557652"> +447498557652  </a></p>
                                    <p><a href="tel:+254712402483">  +254712402483 </a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="text">
                                    <p><a href="mailto:info@livegreatfoundation.org">info@livegreatfoundation.org</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="text">
                                    <p>Ring Road Kileleshwa <br>
                                        Nairobi, Kenya</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</footer>
<!--Site Footer One End-->

<!--Site Footer Bottom End-->