{% extends 'basemain.html' %}
{% load static  %}


{% block content %}
<div class="preloader">
    <img src="{% static 'assets/images/loader.png' %}" class="preloader__image" alt="">
</div>
    <div class="page-wrapper">

        <section class="main-slider main-slider-two">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{
                "slidesPerView": 1,
                "loop": true,
                "effect": "fade",
                "pagination": {
                    "el": "#main-slider-pagination",
                    "type": "bullets",
                    "clickable": true
                },
                "navigation": {
                    "nextEl": ".main-slider-button-next",
                    "prevEl": ".main-slider-button-prev",
                    "clickable": true
                },
                "autoplay": {
                    "delay": 5000
                }}'>
               
                <div class="swiper-wrapper">
                    <!-- Slide 1 --> 
                    <div class="swiper-slide">
                        <br><br><br>
<div class="image-layer" style="background-image: url('{% if hnew.slider_image %}{{ hnew.slider_image.cdn_url }}{% else %}{% static 'assets/images/main-slider/slider-2-1.jpg' %}{% endif %}');"></div>                       
                        <div class="container">
                            <div class="swiper-slide__inner">
                                <div class="row">
                                    <div class="col-xl-12">
                                        {% if hnew %}
                                            <h2>{{ hnew.heading | safe }}</h2>
                                            <p>{{ hnew.content | safe }}</p>
                                        {% else %}
                                            <h2>Small title here</h2>
                                            <p>Big title here</p>
                                        {% endif %}
                                        <br><br>
                                        <a href="{% url 'users:aboutus' %}" class="thm-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                        <br><br><br>
                        <div class="image-layer" style="background-image: url('{% if hneww.slider_image %}{{ hneww.slider_image.cdn_url }}{% else %}{% static 'assets/images/main-slider/slider-2-1.jpg' %}{% endif %}');"></div>                      
                        <div class="container">
                            <div class="swiper-slide__inner">
                                <div class="row">
                                    <div class="col-xl-12">
                                        {% if hneww %}
                                            <h2>{{ hneww.heading | safe }}</h2>
                                            <p>{{ hneww.content | safe }}</p>
                                        {% else %}
                                            <h2>Small title here</h2>
                                            <p>Big title here</p>
                                        {% endif %}
                                        <br><br>
                                        <a href="{% url 'users:aboutus' %}" class="thm-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <!-- Slide 3 -->
                    <div class="swiper-slide"> 
                        <br><br><br>
                        <div class="image-layer" style="background-image: url('{% if hnewww.slider_image %}{{ hnewww.slider_image.cdn_url }}{% else %}{% static 'assets/images/main-slider/slider-2-1.jpg' %}{% endif %}');"></div>                        <div class="container">
                            <div class="swiper-slide__inner">
                                <div class="row">
                                    <div class="col-xl-12">
                                        {% if hnewww %}
                                            <h2>{{ hnewww.heading | safe }}</h2>
                                            <p>{{ hnewww.content | safe }}</p>
                                        {% else %}
                                            <h2>Small title here</h2>
                                            <p>Big title here</p>
                                        {% endif %}
                                        <br><br>
                                        <a href="{% url 'users:aboutus' %}" class="thm-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination" id="main-slider-pagination"></div>
            </div>
        </section>



        <!--Charity Activity Start-->


      
      
        <!--Charity Activity End-->
        <!-- <section  class="you-can-help">
            <div class="you-can-help-img">
                <img src="{% static 'assets/images/resources/you_can_help_img.png' %}" alt="">
            </div>
            <div class="container"style="margin-top: 45px;" >
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="you-can-help__left">
                            <div class="block-title text-left">
                                {% if second_section %}
                                    <h4>{{ second_section.subtitle | safe }}</h4>
                                    <h2>{{ second_section.title | safe }}</h2>
                                {% else %}
                                    <h4>Green Guardians of Nairobi</h4>
                                    <h2>Changing our community, one innovative solution at a time.</h2>
                                {% endif %}
                            </div>
                            <div class="you-can-help__three-icon">
                                <ul class="list-unstyled">
                                    {% if second_section_icons %}
                                        {% for icon in second_section_icons %}
                                        <li>
                                            <div class="icon-box">
                                                <span class="{{ icon.icon_class }}"></span>
                                            </div>
                                            <div class="text">
                                                <p>{{ icon.text | safe }}</p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    {% else %}
                                        <li>
                                            <div class="icon-box">
                                                <span class="icon-vegetable"></span>
                                            </div>
                                            <div class="text">
                                                <p>Food</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon-box">
                                                <span class="icon-water-1"></span>
                                            </div>
                                            <div class="text">
                                                <p>Water</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon-box">
                                                <span class="icon-stethoscope"></span>
                                            </div>
                                            <div class="text">
                                                <p>Medical</p>
                                            </div>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="you-can-help__right">
                            <div class="you-can-help__give-box">
                                <div class="you-can-help__give-text-box" >
                                    {% if second_section_box %}
                                        <p >{{ second_section_box.text | safe }}</p>
                                    {% else %}
                                        <p>Give Education to Kids</p>
                                    {% endif %}
                                </div>
                                <div class="you-can-help__icon-box">
                                    <span class="icon-graduated"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->


        <!--Charity Activity End-->
        <section class="welcome-two">
            <div class="welcome-two-hand" style="background-image: url(assets/images/backgrounds/welcome_two_hands.png)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="welcome-two__left">
                            <div class="block-title text-left">

                                {% if second_section %}
                               
                                <h4>{{ second_section.subtitle | safe }}</h4>
                                <p class="welcome-two__text">{{ second_section.title | safe }}</p>
                            {% else %}
                                <h4>Green Guardians of Nairobi</h4>
                                <h2>Changing our community, one innovative solution at a time.</h2>
                            {% endif %}
                            </div>
                            <div class="welcome-two__btn">
                                <a href="{% url 'users:aboutus' %}" class="thm-btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="welcome-two__right">
                            <div class="welcome-two__img">
                                <img src="{% static 'assets/images/resources/welcome-two-img-1.jpg' %}" alt="">
                                <div class="welcome-two__counter">
                                    <h3>1,000+</h3>
                                    <p>Trees<br> Planted</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



<section class="mission-vision" style="margin-top: -350px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="block-title text-center">
                    <h4>Our Mission</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3">
                <div class="goal-item">
                    <i class="fas fa-recycle"></i>
                    <h4>Clean Kibera</h4>
                    <p>Turning waste into opportunity through cutting-edge solutions.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="goal-item">
                    <i class="fas fa-seedling"></i>
                    <h4>Sustainable Growth</h4>
                    <p>Creating jobs and empowering communities for the long haul.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="goal-item">
                    <i class="fas fa-graduation-cap"></i>
                    <h4>Education & Empowerment</h4>
                    <p>Inspiring kids and communities to lead on climate action.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="goal-item">
                    <i class="fas fa-apple-alt"></i>
                    <h4>Nutritional Support for Sport</h4>
                    <p>Fueling young athletes with healthy meals.</p>
                </div>
            </div>
        </div>
    </div>

</section>

<style>
    .mission-vision {
        padding: 120px 0;
        background-color: #ffffff;
    }
    
    .goal-item {
        margin-bottom: 30px;
        padding: 30px;
        border-radius: 15px;
        background: #fff;
        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
        text-align: center;
        transition: all 0.3s ease;
    }
    
    .goal-item:hover {
        transform: translateY(-10px);
    }
    
    .goal-item i {
        color: #00ae0f;
        font-size: 40px;
        margin-bottom: 20px;
    }
    
    .goal-item h4 {
        margin-bottom: 15px;
        color: #333;
        font-weight: 600;
    }
    
    .goal-item p {
        color: #666;
        margin: 0;
    }

            .mission-vision {
                padding: 120px 0;
                background-color: #ffffff;
            }
            
            .mission-box, .vision-box {
                padding: 40px;
                background: #fff;
                border-radius: 15px;
                box-shadow: 0 10px 30px rgba(0,0,0,0.1);
            }
            
            .goal-item {
                margin-bottom: 30px;
                padding: 20px;
                border-left: 4px solid #00ae0f;
                background: #f9f9f9;
            }
            
            .goal-item i {
                color: #00ae0f;
                font-size: 24px;
                margin-bottom: 15px;
            }
            
            .vision-box {
                background: #00ae0f;
                color: white;
                position: relative;
                height: 100%;
                display: flex;
                align-items: center;
            }
            
            .what-we-do {
                padding: 120px 0;
            }
            
            .service-card {
                padding: 30px;
                text-align: center;
                background: #fff;
                border-radius: 15px;
                box-shadow: 0 10px 30px rgba(0,0,0,0.1);
                transition: all 0.3s ease;
                margin-bottom: 30px;
            }
            
            .service-card:hover {
                transform: translateY(-10px);
            }
            
            .service-icon {
                width: 80px;
                height: 80px;
                margin: 0 auto 20px;
                background: #15c8a0;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .service-icon i {
                color: white;
                font-size: 32px;
            }
        </style>
       

       <section class="make-donation-two">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="make-donation-two__left">
                        <div class="block-title text-left">
                            <h4>What We Do</h4>
                            <h2>Transforming Communities Through Action</h2>
                        </div>
                        <div class="what-we-do__list">
                            <div class="what-we-do__item">
                                <h4><i class="fas fa-trash-restore-alt"></i> Waste Management</h4>
                                <p>We're tackling waste head-on with collection services, segregation, and plastic resale—turning trash into treasure and paving the way for a circular economy.</p>
                            </div>
                            <div class="what-we-do__item">
                                <h4><i class="fas fa-chalkboard-teacher"></i> Community & Youth Education</h4>
                                <p>Through school programs, clean-ups, and workshops, we're raising climate literacy and empowering the next generation of "Climate Champions" to lead change.</p>
                            </div>
                            <div class="what-we-do__item">
                                <h4><i class="fas fa-chart-line"></i> Jobs & Economic Growth</h4>
                                <p>We're creating weekly wage opportunities, especially for youth, to spark local economic growth and build stronger communities.</p>
                            </div>
                            <div class="what-we-do__item">
                                <h4><i class="fas fa-utensils"></i> Nutrition for Young Athletes</h4>
                                <p>We support local sports teams by providing nutritious meals after weekend practices, helping kids stay strong and active.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="make-donation-two__right">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="make-donation-two__single-img">
                                    <img src="{% static 'assets/images/resources/waste-management.jpg' %}" alt="Waste Management">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="make-donation-two__single-img">
                                    <img src="{% static 'assets/images/resources/community-education.jpg' %}" alt="Community Education">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <style>
    .what-we-do__list {
        margin-top: 30px;
    }
    
    .what-we-do__item {
        margin-bottom: 25px;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.05);
        transition: all 0.3s ease;
    }
    
    .what-we-do__item:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    }
    
    .what-we-do__item h4 {
        color: #333;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
    }
    
    .what-we-do__item h4 i {
        color: #00ae0f;
        margin-right: 10px;
        font-size: 20px;
    }
    
    .what-we-do__item p {
        color: #666;
        margin: 0;
        font-size: 15px;
        line-height: 1.6;
    }
    </style>
        
    
        

        

<section class="you-can-help">
    <div class="container " style="margin-top: 45px;">
        <div class="row  "> 
            <div class="col-xl-8 col-lg-8">
                <div class="you-can-help__left">
                    <div class="block-title text-left">
                        {% if second_section %}
                            <h4>{{ second_section.subtitle | safe }}</h4>
                            <p>{{ second_section.title | safe }}</p>
                        {% else %}
                            <h4>Green Guardians of Nairobi</h4>
                            <h2>Changing our community, one innovative solution at a time.</h2>
                        {% endif %}
                    </div>
                    <div class="you-can-help__three-icon">
                        <ul class="list-unstyled">
                            {% if second_section_icons %}
                                {% for icon in second_section_icons %}
                                <li>
                                    <div class="icon-box">
                                        <span class="{{ icon.icon_class }}"></span>
                                    </div>
                                    <div class="text">
                                        <p>{{ icon.text | safe }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            {% else %}
                                <li>
                                    <div class="icon-box">
                                        <span class="icon-vegetable"></span>
                                    </div>
                                    <div class="text">
                                        <p>Food</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-box">
                                        <span class="icon-water-1"></span>
                                    </div>
                                    <div class="text">
                                        <p>Water</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-box">
                                        <span class="icon-stethoscope"></span>
                                    </div>
                                    <div class="text">
                                        <p>Medical</p>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            
            </div>
          
            <div class="col-xl-4 col-lg-4">
                
             
                    <div class="">
                        <img src="{% static 'assets/images/resources/you_can_help_img.png' %}" alt="" style="width: 200%; margin-top: -150px;margin-left: -200px; ">
                    </div>
          
            </div>
        </div>
    </div>
</section>

  
        <section class="become-volunteer" style="margin-top: -160px;">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-xl-5 col-lg-5">
                        <div class="become-volunteer__left">
                            <div class="become-volunteer__img">
                                <img src="{% static 'assets/images/resources/become-volunteer-img1.png' %}" alt="">
                            </div>
                        
                            
                        </div>
                    </div> -->
                    <div class="col-xl-12 col-lg-12 ">
                        <div class="become-volunteer__right">
                            <div class="make-donation-two__left">
                                <div class="block-title text-left">
                                  <h4>Our Vision</h4>
                                   {% if vision %}
                                   <h2 class="">{{ vision.heading | safe }}</h2>
                                   {% else %}
                                   <h2 class="">Update Vision heading (Edit Pages )</h2>
                                    {% endif %}
                                </div>
                                    {% if vision %}
                                    <p class="make-donation-two__text">{{ vision.content | safe }}</p>
                                    {% else %}
                                        <p class="make-donation-two__text">Update Vision content in Edit Pages </p>
                                    {% endif %}
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   
        <section class="cta-one" style="background-image: url({% static 'assets/images/backgrounds/cta-one-bg.png' %})">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="cta-one__inner">
                                    <div class="cta-one__text">
                                        {% if volunteer %}
        
                            <p class="welcome-one__text2">{{ volunteer.content | safe }}</p>
                            {% else %}
                            <p class="welcome-one__text2">Update Volunteer content in the Admin Edit Profile Section</p>
                        {% endif %}
                                       
                                        
                                    </div>
                                   
                                </div>
                            </div>  
                        <div class="col-xl-3">
                            <div class="cta-one__btn">
                                <a href="" class="thm-btn">Get Involved Now</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>











    </div><!-- /.page-wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>




    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay side-menu__toggler mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close side-menu__toggler mobile-nav__toggler">
                <i class="fa fa-times"></i>
            </span>
            <div class="logo-box">
              
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container clearfix"></div>
            <!-- /.mobile-nav__container -->
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="info@livegreatfoundation.org">info@livegreatfoundation.org</a>
                </li>
                <li>
                    <i class="fas fa-phone-square-alt"></i>
                    <a href="tel:+254-712-402-483">+254 712 402 483</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="https://twitter.com/kefegod" target="_blank" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
                    <a href="https://www.instagram.com/livegreatfoundation/"  target="_blank" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->
        </div>
    </div>



    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>



 



{% include 'footer.html' %}

{% endblock %}