{% extends 'basemain.html' %}
{% load static  %}


{% block content %}
<div class="preloader">
    <img src="{% static 'assets/images/loader.png' %}" class="preloader__image" alt="">
</div>
    <div class="page-wrapper">

        <section class="main-slider main-slider-two">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{
                "slidesPerView": 1,
                "loop": true,
                "effect": "fade",
                "pagination": {
                    "el": "#main-slider-pagination",
                    "type": "bullets",
                    "clickable": true
                },
                "navigation": {
                    "nextEl": ".main-slider-button-next",
                    "prevEl": ".main-slider-button-prev",
                    "clickable": true
                },
                "autoplay": {
                    "delay": 3000
                }}'>
                <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide">
<div class="image-layer" style="background-image: url('{% if hnew.slider_image %}{{ hnew.slider_image.cdn_url }}{% else %}{% static 'assets/images/main-slider/slider-2-1.jpg' %}{% endif %}');"></div>                       
                        <div class="container">
                            <div class="swiper-slide__inner">
                                <div class="row">
                                    <div class="col-xl-12">
                                        {% if hnew %}
                                            <h2>{{ hnew.heading | safe }}</h2>
                                            <p>{{ hnew.content | safe }}</p>
                                        {% else %}
                                            <h2>Small title here</h2>
                                            <p>Big title here</p>
                                        {% endif %}
                                        <br><br>
                                        <a href="{% url 'users:aboutus' %}" class="thm-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <!-- Slide 2 -->
                    <div class="swiper-slide">
                        <div class="image-layer" style="background-image: url('{% if hneww.slider_image %}{{ hneww.slider_image.cdn_url }}{% else %}{% static 'assets/images/main-slider/slider-2-1.jpg' %}{% endif %}');"></div>                      
                        <div class="container">
                            <div class="swiper-slide__inner">
                                <div class="row">
                                    <div class="col-xl-12">
                                        {% if hneww %}
                                            <h2>{{ hneww.heading | safe }}</h2>
                                            <p>{{ hneww.content | safe }}</p>
                                        {% else %}
                                            <h2>Small title here</h2>
                                            <p>Big title here</p>
                                        {% endif %}
                                        <br><br>
                                        <a href="{% url 'users:aboutus' %}" class="thm-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <!-- Slide 3 -->
                    <div class="swiper-slide"> 
                        <div class="image-layer" style="background-image: url('{% if hnewww.slider_image %}{{ hnewww.slider_image.cdn_url }}{% else %}{% static 'assets/images/main-slider/slider-2-1.jpg' %}{% endif %}');"></div>                        <div class="container">
                            <div class="swiper-slide__inner">
                                <div class="row">
                                    <div class="col-xl-12">
                                        {% if hnewww %}
                                            <h2>{{ hnewww.heading | safe }}</h2>
                                            <p>{{ hnewww.content | safe }}</p>
                                        {% else %}
                                            <h2>Small title here</h2>
                                            <p>Big title here</p>
                                        {% endif %}
                                        <br><br>
                                        <a href="{% url 'users:aboutus' %}" class="thm-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination" id="main-slider-pagination"></div>
            </div>
        </section>
        <section  class="you-can-help" style="background-image: url('{% static 'assets/images/backgrounds/you_can_help_bg.jpg' %}');">
            <div class="you-can-help-img">
                <img src="{% static 'assets/images/resources/you_can_help_img.png' %}" alt="">
            </div>
            <div class="container"style="margin-top: 45px;" >
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="you-can-help__left">
                            <div class="block-title text-left">
                                {% if second_section %}
                                    <h4>{{ second_section.subtitle | safe }}</h4>
                                    <h2>{{ second_section.title | safe }}</h2>
                                {% else %}
                                    <h4>Green Guardians of Nairobi</h4>
                                    <h2>Changing our community, one innovative solution at a time.</h2>
                                {% endif %}
                            </div>
                            <div class="you-can-help__three-icon">
                                <ul class="list-unstyled">
                                    {% if second_section_icons %}
                                        {% for icon in second_section_icons %}
                                        <li>
                                            <div class="icon-box">
                                                <span class="{{ icon.icon_class }}"></span>
                                            </div>
                                            <div class="text">
                                                <p>{{ icon.text | safe }}</p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    {% else %}
                                        <li>
                                            <div class="icon-box">
                                                <span class="icon-vegetable"></span>
                                            </div>
                                            <div class="text">
                                                <p>Food</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon-box">
                                                <span class="icon-water-1"></span>
                                            </div>
                                            <div class="text">
                                                <p>Water</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon-box">
                                                <span class="icon-stethoscope"></span>
                                            </div>
                                            <div class="text">
                                                <p>Medical</p>
                                            </div>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="you-can-help__right">
                            <div class="you-can-help__give-box">
                                <div class="you-can-help__give-text-box" >
                                    {% if second_section_box %}
                                        <p >{{ second_section_box.text | safe }}</p>
                                    {% else %}
                                        <p>Give Education to Kids</p>
                                    {% endif %}
                                </div>
                                <div class="you-can-help__icon-box">
                                    <span class="icon-graduated"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Main Slider End -->

        <!-- <section class="feature-one">
            <div class="container">
                <div class="feature-one__inner">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <div class="feature-one__single feature-one__single-first-item">
                                <div class="feature-one__icon-wrap">
                                    {% if Programme1 %}
                                    <div class="feature-one__icon-text-box">
                                        <h4 class=""> <strong>{{ Programme1.heading | safe }}</strong> </h4>
                                    </div>
                                </div>
                                <p class="feature-one__icons-single-text">{{ Programme1.content | safe }}</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="feature-one__single feature-one__single-first-item">
                                <div class="feature-one__icon-wrap">
                                    {% if Programme2 %}
                                    <div class="feature-one__icon-text-box">
                                        <h4> <strong> {{ Programme2.heading | safe }} </strong> </h4>
                                    </div>
                                </div>
                                <p class="feature-one__icons-single-text">{{ Programme2.content | safe }}</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="feature-one__single feature-one__single-first-item">
                                <div class="feature-one__icon-wrap">
                                    {% if Programme3 %}
                                    <div class="feature-one__icon-text-box">
                                        <h4> <strong> {{ Programme3.heading | safe }} </strong> </h4>
                                    </div>
                                </div>
                                <p class="feature-one__icons-single-text">{{Programme3.content | safe }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- <section class="welcome-one" style="background-image: url('{% static 'assets/images/backgrounds/welcome_one_bg.jpg' %}');">       
                 <div class="container" style="margin-top: -200px;">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="make-donation-two__right">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="make-donation-two__single-img">
                                        <img src="{% static 'assets/images/resources/make-donation-two-img-1.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="make-donation-two__single-img">
                                        <img src="{% static 'assets/images/resources/make-donation-two-img-2.jpg' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="make-donation-two__right">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="make-donation-two__single-img">
                                        <img src="{% static 'assets/images/resources/make-donation-two-img-1.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="make-donation-two__single-img">
                                        <img src="{% static 'assets/images/resources/make-donation-two-img-2.jpg' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
              
                </div>
            </div>
        </section> -->
        <!--Give Helping Start-->
      
  <style>
    .make-donation-two__left, .make-donation-two__right {
    padding-left: 10px;
    padding-right: 10px;
}
  </style>
  
        <!--Charity Activity Start-->
        <section  class="make-donation-two" style="background-image: url('{% static 'assets/images/backgrounds/news-two-bg.jpg' %}'); margin-top: -50px;" >
            <div class="container">
                <div class="row ">
                    <div class="col-xl-12 col-lg-12">
                        <div class="make-donation-two__left">
                            <div class="block-title text-left">
                               {% if about_us %}  
                               <h4>
                               Innovate, Educate, Transform                             </h4>
                               <h1 class=""> {{ about_us.heading | safe }} </h1>
                           {% else %}
                               <h2 class="">Update Abot us heading  in Edit Pages</h2>
                           {% endif %}
                            </div>
                            {% if about_us %}
                            <p class="make-donation-two__text">{{ about_us.content | safe }}</p>
                                {% else %}
                                <p class="make-donation-two__text">Update about us content in Edit Pages </p>
                                {% endif %}
                         
                        </div>
                    </div>
                    <!-- <div class="col-xl-3 col-lg-3">
                        <div class="make-donation-two__right">
                            <div class="row">
                                <div class="">
                                    <div class="make-donation-two__single-img">
                                        <img src="{% static 'assets/images/resources/make-donation-two-img-1.jpg' %}" alt="">
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
       
        <!--Charity Activity End-->
    <br><br><br><br>
        <section class="make-donation">
            <div class="make-donation-bg" style="background-image: url('{% static 'assets/images/backgrounds/make-donation-bg.png' %}');">
            </div>
            <div class="container">
                <div class="row">
                   
                    <div class="col-xl-6">
                        <div class="make-donation__left">
                            <br><br><br><br>
                            <div class="make-donation__bottom">
                                <div class="block-title text-left">
                                    <h4>Green Guardians of Nairobi</h4>
                                </div>
                                <p class="make-donation__text">By harnessing the power of visual art, we educate Kibera residents on proper waste management, protecting air and soil quality while championing a zero-waste vision. 
 At Live Great Foundation, we believe that collective effort brings change—one community, one innovative solution at a time.</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="make-donation__right">
                            <div class="make-donation__img">
                                <img src="{% static 'assets/images/resources/art.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </section>
        <br><br><br>
        <section class="make-donation-two"  style="margin-top: -120px;" >
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8">
                        <div class="make-donation-two__left">
                            <div class="block-title text-left">
                               {% if mission %}
                               <h4>
                               Our Mission
                                   </h4>
                               <h2 class="">{{ mission.heading | safe }}</h2>
                               {% else %}
                               <h2 class="">Update Mission heading (Edit Pages )</h2>
                           {% endif %}
                            </div>
                            {% if mission %}
                            <p class="make-donation-two__text">{{ mission.content | safe }}</p>
                                {% else %}
                                <p class="make-donation-two__text">Update Mission content in Edit Pages </p>
                                {% endif %}
                         
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="make-donation-two__right">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="make-donation-two__single-img">
                                        <img src="{% static 'assets/images/resources/make-donation-two-img-1.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="make-donation-two__single-img">
                                        <img src="{% static 'assets/images/resources/make-donation-two-img-1.jpg' %}" alt="">
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                  
                
                </div>
            </div>
        </section>
        <section class="become-volunteer" style="margin-top: -160px;">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-xl-5 col-lg-5">
                        <div class="become-volunteer__left">
                            <div class="become-volunteer__img">
                                <img src="{% static 'assets/images/resources/become-volunteer-img1.png' %}" alt="">
                            </div>
                        
                            
                        </div>
                    </div> -->
                    <div class="col-xl-12 col-lg-12 ">
                        <div class="become-volunteer__right">
                            <div class="make-donation-two__left">
                                <div class="block-title text-left">
                                  <h4>Our Vision</h4>
                                   {% if vision %}
                                   <h2 class="">{{ vision.heading | safe }}</h2>
                                   {% else %}
                                   <h2 class="">Update Vision heading (Edit Pages )</h2>
                                    {% endif %}
                                </div>
                                    {% if vision %}
                                    <p class="make-donation-two__text">{{ vision.content | safe }}</p>
                                    {% else %}
                                        <p class="make-donation-two__text">Update Vision content in Edit Pages </p>
                                    {% endif %}
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   
        <section class="cta-one" style="background-image: url({% static 'assets/images/backgrounds/cta-one-bg.png' %})">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="cta-one__inner">
                                    <div class="cta-one__text">
                                        {% if volunteer %}
        
                            <p class="welcome-one__text2">{{ volunteer.content | safe }}</p>
                            {% else %}
                            <p class="welcome-one__text2">Update Volunteer content in the Admin Edit Profile Section</p>
                        {% endif %}
                                       
                                        
                                    </div>
                                   
                                </div>
                            </div>  
                        <div class="col-xl-3">
                            <div class="cta-one__btn">
                                <a href="" class="thm-btn">Get Involved Now</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>











    </div><!-- /.page-wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>




    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay side-menu__toggler mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close side-menu__toggler mobile-nav__toggler">
                <i class="fa fa-times"></i>
            </span>
            <div class="logo-box">
              
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container clearfix"></div>
            <!-- /.mobile-nav__container -->
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="info@livegreatfoundation.org">info@livegreatfoundation.org</a>
                </li>
                <li>
                    <i class="fas fa-phone-square-alt"></i>
                    <a href="tel:+254-712-402-483">+254 712 402 483</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="https://twitter.com/kefegod" target="_blank" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
                    <a href="https://www.instagram.com/livegreatfoundation/"  target="_blank" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->
        </div>
    </div>



    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>



 



{% include 'footer.html' %}

{% endblock %}