{% extends 'basemain.html' %}
{% load static  %}


{% block content %}
<div class="preloader">
    <img src="{% static 'assets/images/loader.png' %}" class="preloader__image" alt="">
</div>
    <div class="page-wrapper">

        <!-- Main Slider Start -->
        <section class="main-slider main-slider-two">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
    "effect": "fade",
    "pagination": {
        "el": "#main-slider-pagination",
        "type": "bullets",
        "clickable": true
      },
    "navigation": {
        "nextEl": ".main-slider-button-next",
        "prevEl": ".main-slider-button-prev",
        "clickable": true
    },
    "autoplay": {
        "delay": 5000
    }}'>

                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="image-layer"
                        style="background-image: url('{% static 'assets/images/main-slider/slider-2-1.jpg' %}');"></div>
                        <div class="container">
                            <div class="swiper-slide__inner">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <p>Empowering Tomorrow’s Leaders</p>
                                        <h2>Through Climate Action </h2>
                                        <a href="" class="thm-btn">How we do it</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url('{% static 'assets/images/main-slider/slider-2-2.jpg' %}');"></div>
                        <div class="container">
                            <div class="swiper-slide__inner">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <p>Building a Greener Future, </p>
                                        <h2> One Community <br> at a Time</h2>
                                        <a href="" class="thm-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url('{% static 'assets/images/main-slider/slider-2-1.jpg' %}');"></div>
                        <div class="container">
                            <div class="swiper-slide__inner">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <br>
                                        <h2>We Can Make <br> A Difference</h2>
                                        <a href="" class="thm-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination" id="main-slider-pagination">

                </div>
            </div>
        </section>

        <!-- Main Slider End -->

        <section class="welcome-two" style="background-image: url('{% static 'assets/images/backgrounds/welcome_one_bg.jpg' %}');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8">
                        <div class="welcome-two__left">
                            <div class="block-title text-left">
                                <h2>Our Community</h2>
                                <h2>Meet the
                                    Eco Warriors
                                    Of Nairobi</h2>
                            </div>
                            <!-- <div class="welcome-two__checks">
                                <a href="#" class="welcome-two__check-one"><i class="fa fa-check"></i>Prosper in this
                                    volatile</a>
                                <a href="#"><i class="fa fa-check"></i>Prosper in this volatile</a> <a href="#"><i class="fa fa-check"></i>Prosper in this volatile</a>
                            </div> -->
                            {% if about_us %}
                         

                            <p class="welcome-two__text"> {{ about_us.content | safe }}
                                </p>
                                {% else %}
                                <p class="welcome-two__text">Update About us content in the Admin (Edit profile section)</p>
                                {% endif %}
                                <div class="welcome-two__btn">
                                <a href="about.html" class="thm-btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="welcome-two__right">
                            <div class="welcome-two__img">
                                <img src="{% static 'assets/images/resources/zerowaste.png' %}" alt="">
                                <!-- <div class="welcome-two__counter">
                                    <h3>10,000+</h3>
                                    <p>Garbage<br>Collected</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
<!-- About us End -->
        <section class="feature-one">
            <div class="container">
                <div class="feature-one__inner">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <!--Three Icon Single-->
                            <div class="feature-one__single feature-one__single-first-item">
                                <div class="feature-one__icon-wrap">
                                   
                                    <div class="feature-one__icon-text-box">
                                        <h4>Educating Women <br> for Change</h4>
                                    </div>
                                </div>
                                <p class="feature-one__icons-single-text">Equipping women with essential knowledge in literacy, healthcare, and financial skills, enabling them to overcome challenges and shape their own futures.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <!--Three Icon Single-->
                            <div class="feature-one__single feature-one__single-first-item">
                                <div class="feature-one__icon-wrap">
                                 
                                    <div class="feature-one__icon-text-box">
                                        <h4>Supportive Spaces <br> for Women</h4>
                                    </div>
                                </div>
                                <p class="feature-one__icons-single-text">Cultivating a network where women can connect, find support, and inspire each other through our programs like the Goddess Care Initiative.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <!--Three Icon Single-->
                            <div class="feature-one__single feature-one__single-first-item">
                                <div class="feature-one__icon-wrap">
                                    
                                    <div class="feature-one__icon-text-box">
                                        <h4>Collaborations with <br> Purpose for Women</h4>
                                    </div>
                                </div>
                                <p class="feature-one__icons-single-text">Partnering with organizations that share our vision, expanding our resources to support and uplift more women and girls.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="welcome-one" style="background-image: url('{% static 'assets/images/backgrounds/welcome_one_bg.jpg' %}');">       
                 <div class="container" style="margin-top: -90px;">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="welcome-one__left">
                            <div class="welcome-one__img wow slideInLeft animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: slideInLeft;">
                                <img src="{% static 'assets/images/resources/welcome_one_img_1.png' %}" alt="">
                                <div class="welcome-one__badge">
                                    <img src="{% static 'assets/images/resources/' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6" >
                        <div class="welcome-one__right">
                            <div class="block-title text-left">
                                <h4>About us</h4>
                                <h2>Empowering Women, Transforming Lives</h2>
                            </div>
                            {% if about_us %}
       
                            <p class="welcome-one__text2">{{ about_us.content | safe }}</p>
                            {% else %}
                            <p class="welcome-one__text2">Update About us content in the Admin (Edit profile sectio)</p>
                        {% endif %}
                           
                          
                          
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Give Helping Start-->
        <section class="events-and-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="block-title text-left">
                            <h4>List of Events</h4>
                            <h2>Upcoming Events</h2>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <a href="#" class="thm-btn events-and-newsletter__btn">All Events</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-8">
                        <div class="upcoming-events">
                            <!--Upcoming Events Single-->
                            <div class="upcoming-events__sinlge">
                                <div class="upcoming-events__img-box">
                                    <div class="upcoming-events__img">
                                        <img src="{% static 'assets/images/event/upcoming-event-img-1.jpg' %}" alt="">
                                    </div>
                                    <div class="upcoming-events__date-box">
                                        <p>23 <br> Dec</p>
                                    </div>
                                </div>
                                <div class="upcoming-events__content">
                                    <ul class="upcoming-events__meta-box list-unstyled">
                                        <li><i class="far fa-clock"></i>04:00 am</li>
                                        <li><span>/</span></li>
                                        <li><i class="far fa-map"></i>66 broklyn Street, New York</li>
                                    </ul>
                                    <div class="upcoming-events__title">
                                        <h3><a href="event-details.html">Mission for Fresh &amp; Clean Water</a></h3>
                                    </div>
                                    <p class="upcoming-events__text">Dignissim cras tincidunt lorem ipsum is simply free
                                        text feugiat at augue. Id purus integer orci.</p>
                                </div>
                            </div>
                            <!--Upcoming Events Single-->
                            <div class="upcoming-events__sinlge">
                                <div class="upcoming-events__img-box">
                                    <div class="upcoming-events__img">
                                        <img src="{% static 'assets/images/event/upcoming-event-img-2.jpg' %}" alt="">
                                    </div>
                                    <div class="upcoming-events__date-box">
                                        <p>23 <br> Dec</p>
                                    </div>
                                </div>
                                <div class="upcoming-events__content">
                                    <ul class="upcoming-events__meta-box list-unstyled">
                                        <li><i class="far fa-clock"></i>04:00 am</li>
                                        <li><span>/</span></li>
                                        <li><i class="far fa-map"></i>66 broklyn Street, New York</li>
                                    </ul>
                                    <div class="upcoming-events__title">
                                        <h3><a href="event-details.html">Mission for Fresh &amp; Clean Water</a></h3>
                                    </div>
                                    <p class="upcoming-events__text">Dignissim cras tincidunt lorem ipsum is simply free
                                        text feugiat at augue. Id purus integer orci.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="events-and-newsletter__newsletter">
                            <div class="events-and-newsletter__newsletter-title">
                                <h2>Future Events</h2>
                                <p>Recieve event invites in your mail.</p>
                            </div>
                            <form action="#" class="events-and-newsletter__newsletter-form">
                                <div class="events-and-newsletter__newsletter-input-box">
                                    <input type="text" placeholder="Your name">
                                </div>
                                <div class="events-and-newsletter__newsletter-input-box">
                                    <input type="email" placeholder="Email address">
                                </div>
                                <button type="submit" class="thm-btn events-and-newsletter__subscribe-btn">Subscribe
                                    Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  
        <!--Charity Activity Start-->
      
        <!--Charity Activity End-->
        <section class="make-donation-two">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="make-donation-two__left">
                            <div class="block-title text-left">
                               <h4>Our Mission</h4>
                               <h2>Advancing Opportunities for Women and Girls</h2>
                            </div>
                            {% if mission %}
                            <p class="make-donation-two__text">{{ mission.content | safe }}</p>
                                {% else %}
                                <p class="make-donation-two__text">Update mission content in the Admin Edit profile section</p>
                                {% endif %}
                         
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="make-donation-two__right">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="make-donation-two__single-img">
                                        <img src="{% static 'assets/images/resources/make-donation-two-img-1.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="make-donation-two__single-img">
                                        <img src="{% static 'assets/images/resources/make-donation-two-img-2.jpg' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="become-volunteer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5">
                        <div class="become-volunteer__left">
                            <div class="become-volunteer__img">
                                <img src="{% static 'assets/images/resources/become-volunteer-img1.png' %}" alt="">
                            </div>
                        
                            
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <div class="become-volunteer__right">
                            <div class="become-volunteer__requirements">
                                <h3>Our Vision </h3>
                                <p class="become-volunteer__text">A society where women and children are devoid of hunger, have access to quality
                                    healthcare and empowered to pursue academic goals safeguarding their human rights
                                    and dignity.
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   

        <!--CTA One Start-->
        <section class="cta-one" style="background-image: url({% static 'assets/images/backgrounds/cta-one-bg.png' %})">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="cta-one__inner">
                                    <div class="cta-one__text">
                                        <p>If you share our vision and passion for creating change, we invite you to join us on 
                                            this incredible journey. Whether you’re a volunteer, donor, or partner, together we can make a tangible difference.</p>
                                        
                                    </div>
                                   
                                </div>
                            </div>  
                        <div class="col-xl-3">
                            <div class="cta-one__btn">
                                <a href="become-volunteer.html" class="thm-btn">Get Involved Now</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <!--CTA One End-->

    












    </div><!-- /.page-wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>




    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay side-menu__toggler mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close side-menu__toggler mobile-nav__toggler">
                <i class="fa fa-times"></i>
            </span>
            <div class="logo-box">
              
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container clearfix"></div>
            <!-- /.mobile-nav__container -->
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="kenyanfemininegoddess@gmail.com">kenyanfemininegoddess@gmail.com</a>
                </li>
                <li>
                    <i class="fas fa-phone-square-alt"></i>
                    <a href="tel:+254-712-402-483">+254 712 402 483</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="https://twitter.com/kefegod" target="_blank" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
                    <a href="https://www.instagram.com/kenyan_feminine_goddess"  target="_blank" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->
        </div>
    </div>



    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>



 



{% include 'footer.html' %}

{% endblock %}