{% extends 'basemain.html' %}
{% load static  %}

{% block content %}
<br><br>

<section class="meet-volunteers-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp animated" data-wow-delay="10ms" style="visibility: visible; animation-delay: 10ms; animation-name: fadeInUp;">
                <!--Meet Volunteers One Single-->
                <div class="meet-volunteers-one__single">
                    <div class="meet-volunteers-one__img">
                        <img src="{% static 'assets/images/resources/kellyshitambasi.jpeg' %}" alt="">
                    </div>
                    <div class="meet-volunteers-one__content">
                        <div class="meet-volunteers-one__name">
                            <h3>Kelly Shitambasi
                            </h3>
                        </div>
                        <div class="meet-volunteers-one__social-info">
                            <div class="left">
                                <p>Founder and Creator</p>
                            </div>
                            <div class="meet-volunteers-one__social-info-box">
                              
                                <a href="https://www.instagram.com/livegreatfoundation/" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-6 wow fadeInUp animated" data-wow-delay="10ms" style="visibility: visible; animation-delay: 10ms; animation-name: fadeInUp;">
                <!--Meet Volunteers One Single-->
                <div class="cta-one" style="background-image: url(assets/images/backgrounds/cta-one-bg.png)">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="cta-one__inner">
                                            <div class="">
                                                {% if team1 %}
       
                                                <p class="">{{ team1.content | safe }}</p>
                                                {% else %}
                                                <p class="welcome-one__text2">Update Kelly Profile content in the Admin (Edit Pages section)</p>
                                            {% endif %}
                                            </div>
                                           
                                        </div>
                                    </div>  
                              
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
        <div class="row" style="margin-top: -40px;" >
            <div class="col-xl-8 col-lg-8 col-md-6 wow fadeInUp animated" data-wow-delay="10ms" style="visibility: visible; animation-delay: 10ms; animation-name: fadeInUp;">
                <!--Meet Volunteers One Single-->
                <div class="cta-one" style="background-image: url(assets/images/backgrounds/cta-one-bg.png)">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="cta-one__inner">
                                            <div class="">
                                                {% if team2 %}
       
                                                <p class="">{{ team2.content | safe }}</p>
                                                {% else %}
                                                <p class="welcome-one__text2">Update Elsie's Profile content in the Admin (Edit Pages section)</p>
                                            {% endif %}
                                            </div>
                                            </div>
                                           
                                        </div>
                                    </div>  
                              
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
           
            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp animated" data-wow-delay="10ms" style="visibility: visible; animation-delay: 10ms; animation-name: fadeInUp;">
                <!--Meet Volunteers One Single-->
                <div class="meet-volunteers-one__single">
                    <div class="meet-volunteers-one__img">
                        <img src="{% static 'assets/images/resources/Volunteer_one_img-1.png' %}" alt="">
                    </div>
                    <div class="meet-volunteers-one__content">
                        <div class="meet-volunteers-one__name">
                            <h3>DR. Elsie Ombakho 
                            </h3>
                        </div>
                        <div class="meet-volunteers-one__social-info">
                            <div class="left">
                                <p>Co founder</p>
                            </div>
                            <div class="meet-volunteers-one__social-info-box">
                              
                                <a href="https://www.instagram.com/eliselsie?igsh=MzRlODBiNWFlZA%3D%3D" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
         
        <div class="row" style="margin-top: -200px;">
            <div class="col-xl-4 col-lg-4 col-md-6 animated" data-wow-delay="10ms" style="visibility: visible; animation-delay: 10ms; animation-name: fadeInUp;">
                <!--Meet Volunteers One Single-->
                <div class="meet-volunteers-one__single">
                    <div class="meet-volunteers-one__img">
                        <img src="{% static 'assets/images/resources/dr.loisekaburu.jpeg' %}" alt="">
                    </div>
                    <div class="meet-volunteers-one__content">
                        <div class="meet-volunteers-one__name">
                            <h3>Dr. Loise Kabiru
                            </h3>
                        </div>
                        <div class="meet-volunteers-one__social-info">
                            <div class="left">
                                <p>Chief Operating Officer</p>
                            </div>
                            <div class="meet-volunteers-one__social-info-box">
                              
                                <a href="https://www.instagram.com/lwangithi?igsh=MzRlODBiNWFlZA==" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-6  animated" data-wow-delay="10ms" style="visibility: visible; animation-delay: 10ms; animation-name: fadeInUp;">
                <!--Meet Volunteers One Single-->
                <div class="cta-one" style="background-image: url(assets/images/backgrounds/cta-one-bg.png)">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="cta-one__inner">
                                            <div class="">
                                                {% if team3 %}
       
                                                <p class="">{{ team3.content | safe }}</p>
                                                {% else %}
                                                <p class="welcome-one__text2">Update Loise Profile content in the Admin (Edit Pages section)</p>
                                            {% endif %}
                                            </div>
                                           
                                        </div>
                                    </div>  
                              
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
         
        </div>
  
    </div>
</section>

{% include 'footer.html' %}

    {% endblock %}